/* Import Fonts from Google Fonts (Open Sans + Inter) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* || GENERAL STYLES */
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

main h3 { 
    margin: 0px 0px 0px 3vw;
    font-size: 35px;
    font-weight: 600;
}

h4 {
    font-size: 27px;
    font-weight: 600;
    margin: 0;
  } 

a:link {
color: #000;
}

a:hover{
    color: f75605;
}

a:visited {
    color: #3c027a
}

@media (max-width: 880px) {

    main h3{
        width: 90vw;
        margin: 1vh 0px 0px 5vw;
        padding: 1vh 0px 1vh 0px;

        font-size: 25px;
        font-weight: 600;
        border-bottom: solid 1px;
    }
}


/* || HEADER STYLES */
header {
    /* Set child elements to display row flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: flex-end;
    min-height: 7vh;

    border-bottom: solid 1px;
    padding-bottom: 10px;
}
header h1{
    display: inline-block;
    /* width: 100px; */
    margin-left: 30px;    
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
header h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 22px;
    transform: rotate(90deg);
    position: absolute;
    top: 48px;
    left: 116px;
    /*    display: block;
    position: absolute;
    margin: 00px 0px 6px 115px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transform: rotate(90deg);
*/
}

header nav a {
    padding-right: 5vw;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

header nav a:hover{ /* On hover of nav links */
    color: #f75605;
}
header nav #activeLink{ /* Color of active nav links */
    color: #f75605;
}

header nav a:visited {
    color:#000;
}
header nav .navBarDropdown{
    display: inline-block;
}
header nav .navBarDropdownContent{
    display: none;
    position: absolute;
    width: 165px;
    padding: 10px;
    margin-top:10px;
    border: solid #000;
    background-color: #ffffff;
}
header nav .navBarDropdownContent a{
    margin-bottom: 10px;
    color: #000;
}
header nav .navBarDropdownContent a:hover{
    color: #f75605;
}

header nav .navBarDropdown:hover .navBarDropdownContent{
    display: block;
}

header h2{
/*    margin: 0px 0px 0px 2vw;
    font-size: 28px;*/
}

header .mobileNav{
    display: none;
}
@media (max-width: 880px) { /* when in mobile view */
    header{
        display: inline;
        width: 100vw;
        min-height: 10vh;

        background-color: #fff;
        border-bottom: solid 1px;
        padding-bottom: 0px;
    }
/*    header h1{
        display: inline-block;
        width: 100px;
        margin-left: 30px;    
        
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 30px;
    }

    header h2{
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 18px;
        transform: rotate(90deg);
        margin-left: -15px;
    }
*/
    header .desktopNav{
        display: none;
    }
    header .mobileNav{
        display: block;
    }
    header .mobileNav input, header .mobileNav span{
        position: absolute;
        margin: 20px 0px 0px 85%;
    }
    header .mobileNav input{
        width: 50px;
        height: 50px;

        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }
    header .mobileNav span{
        width: 50px;
        height: 50px;

        z-index: 2;
        background-image: url('/img/hamburgerMenu.png');
        background-position: center;
        background-size: cover;
    }
    header .mobileNav .mobileNavBarContent{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;

        z-index: 1;
        background: #181818;
        color: #fff;
    }
    header .mobileNavBarContentTitle{
        min-height: 10vh;

        padding-bottom: 50px;
    }
	
    header .mobileNavBarContentTitle h2{
    top: 67px;
    }
	
    header .mobileNav .mobileNavBarContent a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
        
        font-size: 27px;
        color: #fff;
    }
    header .mobileNav input:checked ~ .mobileNavBarContent{
        display: block;
    }
    header .mobileNav input:checked ~ span{
        background-image: url('/img/closeMenu.png');
    }
    header .mobileNavBarContent input:checked ~ .mobileNavBarContent{
        display: none;
    }
}


/* || FOOTER STYLES */
footer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    background-color: #000;
    color: #fff;
}
footer .footerSectionLeft, .footerSectionRight{
    width: 50vw;
    padding: 25px;
}
footer .footerSectionLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 1px;
}
footer .footerSectionLeft p{
    width: 40vw;

    font-size: 15px;
}
footer .footerSectionRightLinks{
    display: flex;
    flex-direction: column;
}
footer .footerSectionRight{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer a{
    color: #fff;
}
footer img{
    width: 18vw;
    justify-content: flex-end;
    align-items: center;
    padding: 3vh 0px 0px 3vw;
}
@media (max-width: 880px) { /* when in mobile view */
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .footerSectionLeft{
        display: none;
    }
    footer .footerSectionRight{
        width: 100vw;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footerSectionRight p{
        padding-left: 3vw;
        text-align: center;

        color: #fff;
        font-size: 15px;
    }
    footer .footerSectionRight a{
        padding-left: 3vw;
        text-align: center;

        color: #fff;
        font-size: 15px;
    }
    footer .footerSectionRight img{
        width: 45vw;
        margin-right: auto;

    }
}


/* || ACKNOWLEDGEMENT OF COUNTRY PAGE STYLES */
article{
    position: absolute;
    display: none;
}
article .acknowSection{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    background-color: #000;
}
article h3{
    font-weight: 500;
}
article .acknowSectionText{
    margin-top: 15vh;
    text-align: center;
    width: 50vw;

    font-size: 20px;
    font-weight: 300;
}
article #menu__toggle {
    opacity: 0;
}

article .acknowSection img{
    align-items: center;

    cursor: pointer;
    width: 100px;
    height: 100px;
}
@media (max-width: 880px) { /* when in mobile view */
    article{
        position: absolute;
        display: none;
    }
    article .acknowSection{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #fff;
        background-color: #000;
    }
    article .acknowSectionText{
        width: 80vw;

        font-size: 20px;
    }
    article .acknowSection img{
    
        cursor: pointer;
        width: 100px;
        height: 100px;
    }
}


/* || LANDING PAGE STYLES */
main .landingPageInfoSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main .landingPageLeftLogoSection, .landingPageLeftHostSection, .landingPageRightTeaserSection, .landingPageRightDateSection{
    padding-top: 25px;
    padding-bottom: 25px;

    box-sizing: border-box;   
    border-bottom: solid 1px;
}
main .landingPageLeftLogoSection{
    width: 50vw;
    display: flex;
    justify-content: center;    
    align-items: end;

    border-right: solid 1px;
}
main .landingPageLeftLogoSection h1{
    margin: 0px;
    width: 350px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 90px;
}
main .landingPageLeftLogoSection h2{
    margin-bottom: 7px;
    margin-left: -96px;
    font-family: inter,sans-serif;
    font-weight: 800;
    font-size: 68px;
    transform: rotate(90deg);
}
main .landingPageRightTeaserSection{
    width: 50vw;
    padding-left: 3vw;
    padding-right: 3vw;

    font-size: 17px;
}
main .landingPageRightTeaserSection a{
    color: #000;
    font-weight: 500;
}
main .landingPageLeftHostSection{
    width: 50vw;
    text-align: center;
    
    border-right: solid 1px;
}
main .landingPageRightDateSection{
    width: 50vw;
    
    text-align: center;
}
main .landingPageLeftHostSection h5, .landingPageRightDateSection h5{
    margin: 0px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:  23px;
}
main .landingPageStudentSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}
main .landingPageStudentWorkCard{
    width: 33vw;
    height: 400px;
}
@media (max-width: 1200px) { /* when in tablet view change to 2 column */
    main .landingPageStudentSection{
        grid-template-columns: repeat(2, 0fr);
        justify-content: center;
    }
    main .landingPageStudentWorkCard{
        width: 45vw;
        height: 400px;
    }
}
main .landingPageStudentSection .landingPageStudentWorkCard a{
    text-decoration: none;
}
main .landingPageStudentSection .landingPageStudentWorkCard .landingPageStudentWorkCardImage{
    width: 100%;
    height: 300px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
main .landingPageStudentWorkCard img{
    width: 80%;
    align-items: center;
}
main .landingPageStudentWorkCard figcaption{
    font-size: 15px;
    text-decoration: none;
    color: #171717;
}
main .landingPageStudentWorkCard .landingPageStudentWorkName{
    font-size: 16px;
    color: #5c5c5c;
}
main .landingPageStudentSection .landingPageStudentSectionLink{
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main .landingPageStudentSectionLink{
    display: flex;
    justify-content: center;

    color: #000;
}
@media (max-width: 880px) { /* when in mobile view */
    main .landingPageLeftLogoSection, main .landingPageVideoSection{
        display: none;
    }
    main .landingPageRightTeaserSection, main .landingPageLeftHostSection, main .landingPageRightDateSection{
        width: 100vw;
        
        border-right: none;
    }
    main .landingPageLeftHostSection h5, .landingPageRightDateSection h5{
        font-size: 18px;
    }
    main .landingPageStudentSection{
        grid-template-columns: repeat(1, 0fr);
        justify-content: center;
    }
    main .landingPageStudentWorkCard{
        width: 100vw;
        height: 400px;
    }
}


/* || GRADUATE A-Z PAGE */
main .graduateA-ZPageFilterSection{
    display: flex;
    align-items: flex-end;
    width: 80vw;
    margin-left: 10vw;
    
    box-sizing: border-box;   
    border-bottom: solid 1px;
    background-color: #fff;
}
main .graduateA-ZPageFilterSection h5{
    margin: 0px;
    padding: 15px;

    font-size: 20px;
    font-weight: 400;
}
main .graduateA-ZPageFilterSection a{
    margin: 0px;
    padding: 15px;

    color: #000;
    text-decoration: none;
}
main .graduateA-ZPageFilterSection #activeLink{
    color: #B0B0B0;
}
main .graduate1-ZPageFilterButtonSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10px;
}
main .graduate1-ZPageFilterButtonSection button{
    color: #787878;
    background: none;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
main .graduate1-ZPageFilterButtonSection #activeButton{
    font-weight: 600;
    color: #b12626;
}
@media (max-width: 880px) { /* when in mobile view */
    main .graduateA-ZPageFilterSection{
        width: 90vw;
        margin-left: 5vw;
    }
    main .graduateA-ZPageFilterSection h5, main .graduateA-ZPageFilterSection a{
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
    }
    main .graduate1-ZPageFilterButtonSection{
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80vw;
        margin-left: 30px;
        font-size: 20px;
        line-height: 5px;
    }
    main .graduate1-ZPageFilterButtonSection a{
        padding: 0px 20px 0px 0px;
    }
}


/* || GRADUATE TECHNIQUE INDEX PAGE */
main .graduateA-ZPageH2{
    display: block;
}
main .graduateTecniqueAreaSection{
    display: flex;
    flex-direction: row;
}
main .graduateTechniquesSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    margin-left: 11vw;
}
main .graduateTechniquesSection a{
    padding-bottom: 35px;

    text-decoration: none;
    color: #000;
    font-size: 18px;
}
main .graduateTechniquesSection a:hover{
    font-size: 30px;
}
main .graduateTechniquesHoverViewSection{
    display: none;
    position: fixed;
    margin-left: 50vw;
    margin-top: 5vh;
}
main .graduateTechniquesSection a:hover ~ .graduateTechniquesHoverViewSection{
    display: block;
}
main .graduateTechniquesHoverViewSection img{
    width: 20vw;
}
@media (max-width: 880px) { /* when in mobile view */
    main .graduateTechniquesSection a:hover ~ .graduateTechniquesHoverViewSection{
        display: none;
    }
}


/* || STUDENT PAGE */

main.student {
    margin-left: 100px;
}

main.student header h2 {
    margin-left: 30px;
}
main .studentProfileSection header{    
    margin: 5vh 40px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    border: none;
}
main .studentProfileSection h4{
    font-size: 30px;
    font-weight: 600;
}
main .studentProfileSection h5{
    width: 100%;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}
main .studentProfileSection img{
    margin: 0px 0px 5px 20px;
    width: 20px;
}
main .studentProfileSection figure{
    display: flex;
    flex-direction: column;
}
main .studentProfileSection figure img{
    margin: 0px 0px 0px 0px;
    width: 70vw;
}
main .studentProfileSection figure figcaption{
    margin: 2vh 0px 2vh 0px;
    width: 50vw;

    font-size: 15px;
}
main .studentProfileSection .studentProfleWorkDetailSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    width: 90vw;   
    margin-left: 40px;
}
main .studentProfileSection p{
    margin: 0px 0px 5vh 0px;
}
main .studentProfileSection dt{
    margin: 0px 0px 1.5vh 0px;
    
    font-weight: 550;
}
main .studentProfileSection dd{
    margin: 0px 0px 1.5vh 0px;
}
main .studentProfileSection dd a{    
    text-decoration: underline;
    color: #000;
}
@media (max-width: 880px) { /* when in mobile view */
    main.student {
        margin-left: 5px;
    }
    main .studentProfileSection header{
        margin-top: 3vh;
        margin-left: 30px;
    }
    main .studentProfileSection h4{
        font-size: 30px;
        margin-left: ;
    }
    main .studentProfileSection h5{
        margin: 0vh 0px; 1vh 8vw;
        font-size: 15px;
    }
    main .studentProfileSection figure {
        margin-left: 30px;
    }
    main .studentProfileSection figure img{
        width: 85vw;
        
    }
    main .studentProfileSection figure figcaption{
        width: 85vw;
    }
    main .studentProfileSection .studentProfleWorkDetailSection{
        margin: 0px 0px 0px 7.5vw;
        width: 85vw;   
    }
    main .studentProfileSection dl{    
        width: 100vw;
    }
}

/* || ABOUT US PAGE */
main .aboutPageAboutSection{
    margin: 5vh 0px 0px 5vw;
    width: 90vw;

    border-bottom: solid 1px;
}
main .aboutPageAboutSection a{
    color: #000;
}
main .aboutPageAboutSection p{
    margin: 0px 0px 5vh 0px;    
}
main .aboutPageMessageSection{
    margin: 5vh 0px 5vh 5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
}
main .aboutPageMessageSection blockquote{
    width: 25vw;

    font-weight: 800;
    font-size: 20px;
}
main .aboutPageMessageSection blockquote span{
    font-size: 40px;
    font-weight: 500;
}
main .aboutPageMessageSection .aboutPageMessageSectionRight{   
    width: 75vw;
}
main .aboutPageMessageSection p{
    font-style: italic;
}
@media (max-width: 880px) { /* when in mobile view */
    main .aboutPageMessageSection{
        flex-direction: column-reverse;
    }
    main .aboutPageMessageSection .aboutPageMessageSectionRight{
        width: 90vw;
    }
    main .aboutPageMessageSection{
        margin: 1vh 0px 5vh 5vw;
    }
    main .aboutPageMessageSection h5{
        font-size: 16px;
    }
    main .aboutPageMessageSection blockquote{
        width: 80vw;
    }
}

/* || SUPPORT PAGE */
main .supportPageSection{
    margin: 5vh 0px 5vh 5vw;
    width: 90vw;
}
main .supportPageSection a{
    color: #000;
}
main .supportPageSection h5{
    margin: 5vh 0px 0px 0px;
}

/* || ACKNOWLEDGE PAGE */
main .acknowledgmentsPageSection{
    margin: 5vh 0px 5vh 5vw;
    width: 90vw;
}
main .acknowledgmentsPageSection p{
    margin: 0px 0px 5vh 0px;
}
main .acknowledgmentsPageSection a{
    color: #000;
}

/* || CONTACT PAGE */
main .contactUsPageSection{
    margin: 5vh 0px 30vh 5vw;
    width: 90vw;
}
main .contactUsPageSection h5{
    margin: 5vh 0px 0px 0px;
}

/* || EVENTS PAGE */
main .soadEventsSection{
    margin: 5vh 0px 0px 5vw;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .soadEventsSection h5{
    margin: 0px;
    width: 100vw;

    font-size: 20px;
}
main .soadEventsSection figure{
    margin: 5vh 5vw 5vh 0px;
}
main .soadEventsSection figure img{
    width: 30vw;
}
main .soadEventsSection figure a{
    text-decoration: none;
    color: #000;
}
main .soadEventsSection figure figcaption h6{
    margin: 0px;

    font-size: 16px;
}
main .soadEventsSection a{
    width: 100vw;
    text-align: center;

    color: #000;
}
@media (max-width: 880px) { /* when in mobile view */
    main .soadEventsSection figure img{
        width: 80vw;
    }
}
