{{ define "main" }}
<main class="wrap">
<div class="rotated-grid">
</div>
  <article>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    {{.Content}}

    {{ if ne .RelPermalink "/student/" }}
      {{range .Pages.ByParam "last_name" }}
        {{ partial "studentpreview.html" . }}
      {{ end }}
    {{ end }}
  </article>
  
  <!-- grid of letters -->
  {{ if eq .RelPermalink "/student/" }}
  <div class="right letters">
    {{range .Pages.ByTitle }}
      <h2 class="letter">
        <a href="#{{ .Title }}">{{ .Title }}</a>
      </h2>
    {{ end }}
  </div>
  
<div class="list-content">
  <!-- list of students -->
  {{ $currLet := "0" }}
  {{range (where .Site.RegularPages.ByTitle "Section" "student" ).ByParam "last_name" }}
    {{ if not (hasPrefix (.Param "last_name") $currLet) }}
      {{ $currLet := (substr (.Param "last_name") 0 1) }}
      {{ with $currLet }}
      <a name="{{ . }}"></a>
      {{ end }}
    {{ end }}
    {{ partial "studentpreview.html" . }}
  {{ end }}

  {{ end }}
  </div>
</main>
{{ end }}
