   <footer>
   <!-- Acknowledgement of Country - Styled and Posistioned Left -->
    <section class="footerSectionLeft">
        <p>The Australian National University acknowledges, celebrates and pays our respects to the Ngunnawal and Ngambri people of the Canberra region and to all First Nations Australians on whose traditional lands we meet and work, and whose cultures are among the oldest continuing cultures in human history.</p>
    </section>

    <!-- ANU Logo and Links - Styled With Black Background and Posistioned Right -->
    <section class="footerSectionRight">
        
        <!-- SOAD + CASS Links - styled in 20point Open Sans (Regular) -->
        <section class="footerSectionRightLinks">
            <p>Graduating Exhibition 2022</p>
            <a href="https://soad.cass.anu.edu.au/">ANU School of Art and Design</a>
            <a href="https://cass.anu.edu.au/">ANU College of Arts & Social Sciences</a>    
        </section>
        <!-- ANU Logo - Styled Black Background -->
        <a href="https://www.anu.edu.au/"><img class="footerSectionRightLogo" src="/img/ANU_Logo.png" alt="Australian National University logo"></a>
    </section>
</footer>
