{{- partial "menu.html" . -}}
{{- partial "menu.html" . -}}
<header>
<nav class="mobileNav">
    <input type="checkbox">
    <section class="mobileNavBarContent">
        <section class="mobileNavBarContentTitle">
            <h1>[grad <br>
                show]</h1>
            <h2>22</h2>
        </section>
        <section class="mobileNavBarContentLinks">
            <a id="activeLink" href="/">Home</a>
            <a href="/student/">Graduates</a>
            <a class="navBarDropdown" href="/info/">About</a>
            <a href="/support/">Support</a>
            <a href="/acknowledgements">Acknowledgements</a>
            <a href="/contact/">Contact</a> 
            <a href="/events/">Events</a>
        </section>
    </section>
  <span><!--  <svg viewBox="0 0 100 80" width="40" height="40">
        <rect width="100" height="10" rx="10"></rect>
        <rect y="30" width="100" height="10" rx="10"></rect>
        <rect y="60" width="100" height="10" rx="10"></rect>
      </svg>-->
    </span>
</nav>
<h1>[grad <br> show]</h1>
<h2 class="logonumber">22</h2>
<!-- Navigation Bar -->
<nav class="desktopNav">
    <!-- Links to internal pages - Styled as 20 Point Open Sans (Regular) -->
    <a href="/">Home</a>
    <a href="/student/">Graduates</a>
    <!-- Dropdown Menu - On hover of 'About' -->
    <section class="navBarDropdown">
        <a class="navBarDropdown" href="/info/">About</a>
        <section class="navBarDropdownContent">
            <a href="/support/">Support</a>
            <a href="/acknowledgements/">Acknowledgements</a>
            <a href="/contact/">Contact</a> 
        </section>
    </section>
    <a href="/events/">Events</a>
</nav>
</header>
