<section class="navigation">
    <div class="nav-container">
      
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li class="brand">
            <a href="/"><img src="/img/logo.png"/></a>
          </li>
          <li>
            <a href="/student/">Graduates [A-Z]</a>
          </li>
          <li>
            <a href="/disciplines/">Disciplines</a>
          </li>
          <li>
            <a href="/info/">More info</a>
          </li>
          <li>
            <a href="/favourites/"><span class="num-faves"></span> Favourites <span class="plus"></span></a>
          </li>
        </ul>
      </nav>
    </div>
</section>