<section class="navigation">
    <div class="nav-container">
      
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href="/info/">About</a>
          </li>
          <li>
            <a href="/student/">Graduates [A-Z]</a>
          </li>
          <li>
                  <a href="/processes/">Graduates by Technique</a>
          </li>
          <li>
              <a href="https://www.youtube.com/playlist?list=PL-xZUBWVA78RMe04dFJN0GZ8Zs8pd3rLO">Tours & Talks</a>
          </li>
          <li>
              <a href="/support/">Support</a>
          </li>
          <li>
              <a href="https://soad.cass.anu.edu.au/study">Study Options</a>
          </li>
          <li>
              <a href="/contact/">Contact Us</a>
            </li>
          <li>
              <a href="/acknowledgements/">Acknowledgements</a>
            </li>
            <li>
            <a href="https://gradshow.com.au/archive.html">Archive</a>
          </li>
        </ul>
      </nav>
    </div>
</section>
