{{ define "main" }}
<main class="wrap">

    <article>
      <header>
          <h1>{{.Title}}</h1>
      </header>
      {{.Content}}
    </article>
  
    <div class="right disciplines">
        {{ range .Data.Terms.Alphabetical }}
            <h2><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h2>
            {{ if eq .Page.Title "Centre for Art History & Theory" }}
                {{ with .Page.GetPage "/disciplines/ceramics/" }}
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
  
</main>
{{ end }}