{{ define "main" }}
<main>
<section class="landingPageInfoSection">
    <!-- GradShow Large Typography Section - Styled Left -->
    <section class="landingPageLeftLogoSection">

        <!-- GradShow 2022 Large Logo -->
        <h1>[grad show]</h1>
        <h2>22</h2>
    </section>

    <!-- About Teaser Section - Styled Right -->
    <section class="landingPageRightTeaserSection">

        <!-- About Section Teaser Heading -->
        <h5>ABOUT THE EXHIBITION</h5>
        
        <!-- About Section Teaser Text -->
        <p>Welcome to the Australian National University School of Art and Design 2022 Graduating Exhibition. The exhibition showcases the work of students completing undergraduate and postgraduate coursework programs at the School. The show is a culmination of years of study in art, design, art history and art theory.</p>

        <!-- About Section Teaser Link - Styled as 20 Point Open Sans (SemiBold) Underlined -->
        <a href="AboutUs_Page.html">Read More</a>
    </section>


    <!-- Host Section - Styled Left -->
    <section class="landingPageLeftHostSection">

        <!-- Hosting School Text - Styled as 25 Point Inter (Medium) Italics-->
        <h5 class="landingPageLeftHostText">ANU SCHOOL OF ART AND DESIGN</h5>

    </section>

    <!-- Exhibition Date Section - Styled Right -->
    <section class="landingPageRightDateSection">

        <!-- Exhibition Dates - Styled as 25 Point Inter (Medium) Italics-->
        <h5 class="landingPageRightDateText">25.11.2022 – 04.12.2022</h5>
    </section>
</section>

<!-- Video Section - Styled full viewport width (Include when supplied by SOAD)-->
<section class="landingPageVideoSection">
    <!-- Play (without audio) On Load -->
    <video autoplay>
        <source src="gradShowVideo.mp4" type="video/mp4">
    </video>
</section>
        
</main>
{{ end }}
