{{ define "main" }}

<section class="home-content">
 
    <div class="left">
        <div class="highlight">
            <h1>Grad</h1>
        </div>
        <div class="highlight">
            <h1>Show<br></h1>
        </div>
        <div class="highlight">
            <h1>2021<br></h1>
        </div>
        </br>
        <div class="highlighth2">
            <h2><a href="https://soad.cass.anu.edu.au/">ANU School of Art & Design</a></h2>
            <h2>Graduating Exhibition</h2>
        </div>
    </div>

    <div class="right">
        <div class="space"></div>
        <div class="highlight">
            <h1>09 DEC 2021</h1>
        </div>
        <br/>
        <div class="highlight">
            <h1>Coming</h1>
        </div>
        <div class="highlight">
            <h1>Soon</h1>
        </div>
    </div>

</section>

{{ end }}
