{{ define "main" }}

<section class="home-content">
 
        <div class="left">
            
            <div class="highlight">
                <h1>Grad</h1>
            </div>
            <div class="highlight">
                <h1>Show<br></h1>
            </div>
            <div class="highlight">
                <h1>2021<br></h1>
            </div>
        
        </br>
    
            <div class="highlighth2-bold">
             <h2><a href="https://soad.cass.anu.edu.au/">ANU School of Art & Design</a></h2>
            <br>
            <h2>Graduating Exhibition</h2>
            </div>
        
        </div>
        
    <!--</div>--What is this?-->

    <div class="right">

        <div class="home-space">
        </div>

        <div class="highlighth2-bold">
            <h2><a href="/info/">about the exhibition</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href ="/student/">Graduates a-z</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href="/processes/">Graduates by Technique</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href="https://www.youtube.com/playlist?list=PL-xZUBWVA78RMe04dFJN0GZ8Zs8pd3rLO">Tours and Talks</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href="/support/">Support our Graduates</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href="https://soad.cass.anu.edu.au/study">Study Options</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href="/contact/">Contact</a></h2>
        </div>

        <div class="highlighth2-bold">
            <h2><a href="/acknowledgements/">Acknowledgements</a></h2>
        </div>

        <div class="highlight2-bold">
            <h2><a href="/archive/">Archive</a></h2>
        </div>
    </div>

    <!--</div>--What is this?-->

    </section>

{{ end }}
